* {
    scrollbar-width: none;
}

.wrapper {
    font-family: Poppins;
    min-height: 100%;
    background-color: #FAFBFF;
    display: flex;
    gap: 71px;
}



/* ****************************************************** */

.wrapper__menu {
    min-height: 100%;
    min-width: 306px;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    background-color: #fff;
    overflow: hidden;
}

.wrapper__page {
    display: flex;
    min-height: 100%;
    flex: 1 1 0%;
    padding: 36px 95px 120px 0;
}

/* ****************************************************** */

.menu__body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 36px 28px;
}

.menu__header {
    
}

.menu__logo {
    display: flex;
    align-items: center;
}

.logo__name {
    font-size: 26px;
    font-weight: 600;
}

.logo__version {
    font-size: 10px;
    font-weight: 500;
    color: #838383;
}

.burger__menu--close {
    display: none;
}

/* ****************************************************** */

.menu__field {
    flex: 1 1 auto;
}

.menu__nav {
    margin-top: 45px;
}

.nav__list {
}

.list__item {
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 8px 10px 11px;
    margin: 8px 0px;
    gap: 14px;
    border: 1px solid #ffffff;
}

.item__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__name {
    color: #9197B3;
}

.item__arrow {
    width: 16px;
    height: 16px;
    background: url('../img/icons/arrow2.svg') no-repeat;
}

.list__item:hover {
    border: 1px solid #5932EA;
}

.list__item:focus {
    background-color: #5932EA;
    border: 1px solid #5932EA;
}

.list__item:focus .item__name {
    color: #ffffff;
}

.list__item:focus .item__arrow {
    background: url('../img/icons/arrow2_hover.svg') no-repeat;
}

.list__item.coloringStroke:focus svg path{
    stroke: #ffffff;
}

.list__item.coloringFill:focus svg path{
    fill: #ffffff;
}

.list__item.customers .customersFocused {
    display: none;
}

.list__item.customers:focus .customersFocused {
    display: inline-block;
}

.list__item.customers:focus .customersNormal {
    display: none;
}


/* ****************************************************** */

.menu__footer {
    
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__logo__foto {
}
.footer__logo__text {
    line-height: 1.5;
}
.footer__logo__name {
    font-weight: 500;
    font-size: 14px;
}
.footer__logo__position {
    font-weight: 400;
    font-size: 12px;
    color: #757575;
}




/* ****************************************************** */

.page__body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;

}

.page__greetings {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 51px;
}

.burger__menu {
    display: none;
}

.page__field {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;

    height: 100%;
    overflow: auto;

    background-color: #ffffff;
    border-radius: 30px;
    padding: 30px 0 40px 0;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}

.field__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 53px 26px 38px ;
}

.field__header__title {
    
}

.field__header__title__name {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 7px;
}

.field__header__title__description {
    font-weight: 400;
    font-size: 14px;
    color: #16C098;
}

.field__header__search {

}

.search__body {
    border-radius: 10px;
    background-color: #F9FBFF;
    padding: 7px 8px;
}

.search__body input {
    background-color: #F9FBFF;
}

.search__body input::placeholder {
    color: #B5B7C0;
    font-size: 12px;
}

.search__body input:focus {
    outline: none;
}

/* ****************************************************** */

.field__body {
    height: 100%;
}

.field__body__table {
        /* padding: 0 53px 0 38px; */

}

.table__data {
    /* display: none; */
    width: 100%;

}

table, th, td {
    border-collapse: collapse;

}

thead tr {
    height: 50px;
}

tbody tr td {
    height: 70px;
}

th {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    color: #B5B7C0;
    border-bottom: 1px solid #eeeeee;
}

th:first-child {
    padding-left: 38px;
}

th:last-child {
    padding-right: 67px;
    text-align: center;
}

td div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 10px;

    border-bottom: 1px solid #eeeeee;

    font-weight: 500;
    font-size: 14px;
    color: #292D32;
}


tbody tr td:first-child{
    padding-left: 38px;
}

tbody tr td:last-child{
    padding-right: 57px;
}

tbody tr td:last-child div{
    justify-content: center;
}

.status__btn__box {
}

.status__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    padding-right: 0;
    background-color: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
    border-radius: 4px;
    color: #008767;
    font-weight: 500;
    font-size: 14px;
}

.status__btn--inactive {
    background-color: #FFC5C5;
    border: 1px solid #DF0404;
    border-radius: 4px;
    color: #DF0404;
}

.field__footer {
    padding: 30px 40px 26px 38px;
}

.field__footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field__footer__content__description {
    font-weight: 500;
    font-size: 14px;
    color: #B5B7C0;
}

.field__footer__content__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field__footer__content__pagination__content {
    display: flex;
    justify-content: center;
}

.field__footer__content__pagination__list {
    display: flex; 
}

.field__footer__content__pagination__item {
    padding: 6px 10px;
    margin: 0 6px;
    cursor: pointer;
    color: #404B52;
    font-weight: 500;
    font-size: 12px;
    background-color: #F5F5F5;
    border-radius: 4px;

}

.field__footer__content__pagination__item--active {
    background-color: #5932EA;
    color: #ffffff;
}






/* ****************************************************** */

@media (max-width: 1199.98px) {
    
}

@media (max-width: 990.98px) {
    
}

@media (max-width: 767.98px) {


    .wrapper__menu {
        position: absolute;
        z-index: 10;
        width: 306px;
        left: -306px;
        display: flex;
        min-height: 100%;
        transition: left 0.3s ease 0s;
    }

    .wrapper__menu.open {
        left: 0;
        transition: left 0.3s ease 0s;
    }

    .page__greetings {
        text-align: center;
        position: relative;
    }

    .burger__menu {
        z-index: 5;
        display: block;
        position: absolute;
        width: 30px;
        height: 18px;
        cursor: pointer;

        top: auto;
        left: 0;
    }

    .burger__menu--close {
        display: block;
    }

    .burger__menu span,
    .burger__menu::before,
    .burger__menu::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }

    .burger__menu::before,
    .burger__menu::after {
        content: "";
    }

    .burger__menu::before {
        top: 0;
    }

    .burger__menu::after {
        bottom: 0;
    }

    .burger__menu span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .burger__menu--close {
        z-index: 5;
        display: block;
        position: absolute;
        width: 30px;
        height: 18px;
        cursor: pointer;

        top: auto;
        right: 20px;
    }

    .burger__menu--close::before,
    .burger__menu--close::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }

    .burger__menu--close::before,
    .burger__menu--close::after {
        content: "";
    }

    .burger__menu--close::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .burger__menu--close::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }






    .wrapper__page {
        padding: 36px 50px 36px;
        /* min-width: 100%; */

    }

}